<div class="navbar-lewagon navbar-adjust container-top">
  <!-- <div>
    <%= link_to "/" do  %>
      <%= image_tag "logo_gargaleria_laranja", class: 'logo' %>
    <% end %>
  </div> -->
  <%= render './shared/navbar' %>
  <div class="dashboard">
    <ul>
      <% if user_signed_in? %>
        <% if current_user.seller %>
          <li>
            <%= link_to "Dashboard", dashboard_beverages_path, id:"link_dashboard" %>
        <% else %>
          <li>
            <%= link_to "Become a Seller", become_seller_path, id:"link_seller" %>
          </li>
        <% end %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/aaraujomagno", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% unless current_user.seller %>
              <%= link_to "Histories", dashboard_beverages_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <!-- <li>
          <%= link_to "Login", new_user_session_path, id:"link_login" %>
        </li> -->
      <% end %>
    </ul>
  </button>
  </div>
</div>
<div class="banner" id="banner">
  <div class="container-top">
    <h1 style="margin-bottom: 10px; margin-top: 50px;">Experiência <strong>única</strong></h1>
    <p>A cerveja <strong>Freizão&Co.</strong> acaba de lançar<br> a Indian Pale Ale mais esperada do ano. <br>Seja um dos primeiros a comprar essa maravilha.</p>
    <!-- <a class="btn button" href="#">Comprar</a> -->
  </div>
</div>

<div class="container-top">
  <div class="content">
    <div class="card-title">
      <% @beverages.each do |beverage| %>
      <% if beverage.published %>
        <div class="content-cards">
        <div style="margin-top:40px; border-top: 5px solid #9c2c2c;">
          <p style="margin-top:10px; margin-bottom: 10px; font-weight: bold; font-size: 22px;"><%= link_to beverage.name, beverage_path(beverage.id), class: 'card-sm'  %></p>
        </div>
        <% if beverage.photo.url %>
          <div style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path beverage.photo, height: 200, width: 300, crop: :fill %>'); width:350px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; margin: 10px; background-size: cover;"></div>
        <% else %>
            <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); width:350px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; margin: 10px; background-size: cover; border-radius: 10px; border: 1px solid black;"></div>
        <% end %>
        <div><p style="color:grey;"><%= beverage.description %><p></div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @beverages %>
</div>
