<div class="banner" id="banner">
  <%= render './shared/navbar' %>
  <div style="width: 75vw; margin-bottom:150px;">
    <h1>Experiência <strong>única</strong></h1>
    <p>A cerveja <strong>Freizão&Co.</strong> acaba de lançar<br> a Indian Pale Ale mais esperada do ano. <br>Seja um dos primeiros a comprar essa maravilha.</p>
    <!-- <a class="btn button" href="#">Comprar</a> -->
  </div>
</div>

<div class="container-top">
  <div class="content">
    <div class="card-title">
      <% @beverages.each do |beverage| %>
      <% if beverage.published %>
        <div class="content-cards" style="width: 350px;">
        <div style="margin-top:40px; border-top: 5px solid #9c2c2c;">
          <p style="margin-top:10px; margin-bottom: 10px; font-weight: bold; font-size: 22px;"><%= link_to beverage.name, beverage_path(beverage.id), class: 'card-sm'  %></p>
        </div>
        <% if beverage.photo.url %>
          <div style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path beverage.photo, height: 200, width: 300, crop: :fill %>'); width:350px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; margin: 10px; background-size: cover;"></div>
        <% else %>
            <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); width:350px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; margin: 10px; background-size: cover; border-radius: 10px; border: 1px solid black;"></div>
        <% end %>
        <div><p style="color:grey;"><%= beverage.description %><p></div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @beverages %>
</div>
