<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<div style="background-image: url('<%= image_path 'login.jpg' %>'); width:100vw; height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; background-size: cover;">
  <div style="margin-bottom: 40px;">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_gargaleria_laranja", class: 'logo' %>
    <% end %>
  </div>
  <div style="margin-bottom: 180px; text-align: center">
    <h1></h1>
    <p></p>
  </div>
</div>

<div style="display: flex; flex-direction: column; width: 60vw; justify-content: center; align-items: center;margin-top: -150px;">
  <div style="width: 40vw; background-color:#f4f4f4; padding: 40px;"><div class="container">
  <h3 style="margin-bottom: 20px;">Compra finalizada!</h3>
  <p><strong>Vendedor:</strong><span style="margin-right: 10px"></span><%= @order.beverage.user.first_name %><%=" " %><%= @order.beverage.user.last_name %></p>
  <p><strong>Email:</strong><span style="margin-right: 10px"></span><%= @order.beverage.user.email %></p>
  <p><strong>Telefone:</strong><span style="margin-right: 10px"></span><%= @order.beverage.user.phone %></p>
  <p>Em breve você receberá uma mensagem de confirmação no email:</p>
  <p><strong><%= @order.user.email %></strong><span style="margin-right: 10px"></span></p>
  <div>
    <%= link_to 'Return', beverages_path, id:"link_login_form" %>
  </div>
</div>
