<%= render 'shared/navbar_intern' %>
<div class="container">
  <div style="display: flex; flex-direction: column;">
  <div>
    <%= cl_image_tag @beverage.photo, id:"beverage-img-show"%>
  </div>
  <div>
  <%= @beverage.name %>
  </div>
  <div>
  <% unless @beverage.user == current_user %>
    <%= link_to "Buy", beverages_buy_path(@beverage), class:"btn btn-warning" %>
  <% end %>
  </div>
  <div>
  <%= link_to 'Return', beverages_path, class:"btn btn-primary" %>
  </div>
  </div>
</div>
