<div class="show-general">  <!-- ## Div geral da show -->
  <div class="show-nav">
    <%= render 'shared/navbar_intern'  %>
  </div> <!--Fechamento do navbar intern-->
  <div class="show-content" style=" display: flex; justify-content: center; align-items: center; height: 100vh; padding-bottom: 40px">
    <div class="show-content-product" style="width: 80vw; height: 70vh; display: flex; flex-direction: row; justify-content: center; align-items: center; padding:50px ; margin-top: -140px;">
      <div class="show-product-photo " style="width: 50vw; height: 50vh; justify-content: space-between; align-items: center; border">

         <%= cl_image_tag(@beverage.photo, class:"image-show", crop: :fill) %>


      </div> <!-- fechamento product photo -->
      <div style="border:1px solid black;">
        <div>
          <h3> <%= @beverage.name %> </h3>
        </div>
        <div>
          <%= @beverage.description %>
        </div>
        <div>
          R$<%= @beverage.price.to_i %>
        </div>
        <div>
          <%= @beverage.stock %>
        </div>
        <div>
          <% unless @beverage.user == current_user %>
            <%= link_to "Buy", beverages_buy_path(@beverage),class:"btn btn-warning" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
