<div class="show-general">  <!-- ## Div geral da show -->
  <div class="show-nav">
    <%= render 'shared/navbar_intern'  %>
  </div> <!--Fechamento do navbar intern-->
  <div class="show-content" style=" display: flex; justify-content: center; align-items: center; height: 100vh; padding-bottom: 40px">
    <div class="show-content-product" style="width: 80vw; height: 70vh; display: flex; flex-direction: row; justify-content: center; align-items: center; padding:50px ; margin-top: -140px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-right:bold">
      <div class="show-product-photo " style="width: 50vw; height: 50vh; justify-content: space-between; align-items: center; border">

         <%= cl_image_tag(@beverage.photo, class:"image-show", crop: :fill) %>


      </div> <!-- fechamento product photo -->

      <div class="show-product-detail col-6" style="width: 50vw; height: 50vh; padding-left: 50px">

        <div class="show-product-description" style=" display: flex;
flex-direction: column;">

          <div class="title-description" style="padding-bottom: 10px">
            <h1> <%= @beverage.name %> </h1>

          </div> <!-- ##fechamento do tittle description -->

          <div style="padding-bottom: 10px; border:1px solid black; overflow:auto; height: 150px;">
            <%= @beverage.description %>

          </div>

          <div class="price d-flex align-items-center">
            <p style="color:orange; font-size:40px;"> <b> R$<%= @beverage.price.to_i %></b>
          </div>

          <div class="quantity">
           <p style="font-size:20px;"><b> Stock: </b><%= @beverage.stock %> </p>

          </div>


           <div class="show-product-buy" style="display: flex;
flex-direction: column;">

              <div  style="align-items: right float: right">
              <% unless @beverage.user == current_user %>
                <%= link_to "Buy", beverages_buy_path(@beverage),class:"btn btn-warning" %>
              <% end %>
              </div> <!-- ## Botao de comprar -->
          </div> <!-- ##fechamento do show product buy -->
        </div>
      </div>
    </div> <!-- ##fechamento div do content product -->
  </div> <!-- ##fechamento div content -->
</div> <!-- ##fechamento do div show -->
</div>


