<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="background-image: url('<%= image_path 'login.jpg' %>'); width:100vw; height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; background-size: cover;">
    <div style="margin-bottom: 40px;">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_gargaleria_laranja", class: 'logo' %>
      <% end %>
    </div>
    <div style="margin-bottom: 180px;">
      <h1>Coloque o seu produto em nosso site!</h1>
      <p>Tenha visibilidade e compartilhe suas criações com nossos visitantes</p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; width: 60vw; justify-content: center; align-items: center;margin-top: -150px;">
      <div style="width: 40vw; background-color:#f4f4f4; padding: 40px;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, as: :hidden, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: "New password",
                hint: "Leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirm new password",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "We need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthdate %>
    <%= f.input :address %>
    <%= f.input :cpf %>
    <%= f.input :photo, label: "Profile Picture" %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions" style="display:flex; flex-direction:row; justify-content:space-between;">
    <%= f.button :submit, "Update", id:"link_login_form" %>
    <%= link_to "Return", beverages_path, class:"card-sm"  %>
  </div>
  <% end %>

  <!-- <h3>Cancel my account</h3>

  <p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->


</div>
</div>
</div>
