<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<div style="background-image: url('<%= image_path 'login.jpg' %>'); width:100vw; height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; margin: 10px; background-size: cover;">
  <div>
  <%= image_tag "logo_gargaleria_laranja", class: 'logo' %>
  </div>
  <div style="margin-bottom: 90px;">
    <h1>Venha comprar uma boa CERVA!</h1>
    <p>Faça seu cadastro e aproveita as vantagens de ser membro da comunidade cervejeira</p>
  </div>
</div>

<div style="display: flex; flex-direction: column; width: 60vw; justify-content: center; align-items: center;margin-top: -150px;">
  <div style="width: 40vw; background-color:#f4f4f4; padding: 40px;">
<div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :terms, label: "I'm older than 18 years old." %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", id:"link_login_form" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
