<div style="display: flex; flex-direction: row; justify-content: space-between; color:white; width: 75vw;">
  <div style="display:flex; justify-content:flex-start; align-items:center; width: 25vw;">
    <%#= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_gargaleria_laranja", class: 'logo' %>
    <%# end %>
  </div>
  <div style="width: 45vw; display: flex; flex-direction: row; align-items: center;">
    <div class="search">
      <%= form_tag beverages_path, method: :get, style: "width: 25vw; opacity: 0.8;" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search",
        placeholder: "Search beverages"
      %>
      <% end %>
      <span class="fa fa-search"></span>
    </div>
    <!-- <div>
      <ul style="margin-top: 25px;">
        <li style="display: inline;">CERVEJAS</li>
        <li style="display: inline; margin-left:20px;">CACHAÇAS</li>
        <li style="display: inline; margin-left:20px;">CADASTRE-SE</li>
        <li style="display: inline; margin-left:20px;">LOGOUT</li>
      </ul>
    </div> -->
  </div>
  <div style="width: 30vw; display: flex; align-items: center; justify-content: flex-end;">
    <div>
    <ul style="margin-right: 25px; margin-top: 20px;">
      <% if user_signed_in? %>
        <% if current_user.seller %>
          <li class="nav-item active" style="display: inline;">
            <%= link_to "Dashboard", dashboard_beverages_path, id:"link_dashboard" %>
          </li>
        <% else %>
          <li class="nav-item active" style="display: inline;">
            <%= link_to "Become a Seller", become_seller_path, id:"link_seller" %>
          </li>
        <% end %>
        <li class="nav-item dropdown" style="display: inline;">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/aaraujomagno", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% unless current_user.seller %>
              <%= link_to "Histories", dashboard_beverages_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item" style="display: inline;">
          <%= link_to "Login", new_user_session_path, id:"link_login" %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
