  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <div class="">
    <%= f.input :price %>
    <%= f.input :stock %>
  </div>
  <%= f.input :description, label: "Beverage description" %>
  <%= f.input :genre, as: :radio_buttons, collection: [['Cachaça', 'cachaça'], ['Beer', 'cerveja']], label_method: :first, value_method: :last, wrapper: :vertical_collection_inline, class: "beverage-genre", checked: 0 %>
  <%= f.input :category, collection: [], include_blank: false %>
  <%= f.input :brand, label: "Insert brand" %>
  <%= f.input :photo, label: "Photo" %>
  <%= f.input :photo_cache, as: :hidden %>
  <div style="display:flex; flex-direction:row; justify-content: space-between;">
    <div>
      <%= f.submit 'Send', id:"link_login_form" %>
    </div>
    <div>
      <%= link_to 'Return', dashboard_beverages_path, class:"card-sm" %>
    </div>
  </div>
