
<div>
<h1>View dashboard</h1>
<% @beverages.each do |beverage| %>
  <%= link_to beverage.name, dashboard_beverage_path(beverage) %>
  <%= link_to 'delete', dashboard_beverage_path(beverage), method: :delete, data: {confirm:'are you sure?'}, class:"btn btn-danger" %>
<% end %>
</div>
<div>
  <h3>Purchase history</h3>
  <% @orders_buy.each do |buy| %>
  <%= link_to buy.beverage.name, dashboard_order_path(buy.id)%>
    Status: <%= buy.status %>
    <%= buy.created_at.strftime("%d/%m/%Y") %>
  <% end %>
</div>
<div>
  <h3>Sales history</h3>

  <% @orders_sell.each do |sell| %>
    <%= sell.status%>
  <% end  %>
</div>
<div>
<%= link_to 'Create', new_dashboard_beverage_path %>
<%= link_to 'Return', beverages_path %>
</div>
