<%= render 'shared/navbar_intern' %>
<div style="display:flex; flex-direction: column; margin: 30px; padding: 35px;">

  <div class="dashboard-title" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 30px; margin-right:30px;">
    <div>
        <h3>Dashboard</h3>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
    <% if current_user.seller %>
    <div>
      <%= link_to 'Add a new beverage', new_dashboard_beverage_path, class:"btn btn-warning" %>
    </div>
    <% end %>
  </div>
  </div>

  <div class="dashboard-content" style="display: flex; flex-direction: row; height: 100vh;">

    <div class="dashboard-content-cards" style="width: 70vw; display: flex; flex-direction: column; justify-content: flex-start; margin-right:30px;">
    <% if current_user.seller %>
      <% @beverages.each do |beverage| %>

        <% if beverage.published %>
          <div style="margin-bottom:10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; box-shadow: 0 0 8px rgba(0,0,0,0.1);">
            <div>
              <% if beverage.photo.url %>
                <%= cl_image_tag beverage.photo, height: 200, width: 300, crop: :fill %>
              <% end %>
              </div>
              <div style="padding: 10px; display: flex; flex-direction: column; justify-content:flex-start; flex-grow: 1; margin-left: 20px; height:200px;">
                <div>
                  <h3><%= link_to beverage.name, dashboard_beverage_path(beverage), class:"card-sm" %></h3>
                </div>
                <div class="overflow-description">
                  <article><span style="color:grey;"><%= beverage.description %></span></article>
                </div>
                <div style="margin-top: 10px; margin-bottom: -10px;">
                  <h5 style="color:orange;"><strong>R$ <%= beverage.price %></strong></h5>
                </div>
                <div>
                  <span><strong>Stock:</strong> </span><%= beverage.stock %>
                </div>
            </div>
            <div style="padding: 10px; height:200px; width: 100px; display: flex; flex-direction:column; justify-content: space-between; align-items:center;">
              <div>
                <%= link_to 'Update', dashboard_beverage_path(beverage), class:"card-sm" %>
              </div>
              <div style="margin-bottom:10px;">
                <%= link_to 'delete', dashboard_beverage_path(beverage), method: :delete, data: {confirm:'are you sure?'}, class:"btn-dashboard-card-delete" %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
      <div style="display: flex; justify-content: center;">
        <%= paginate @beverages %>
      </div>
    </div>

  <div class="dashboard-content-report" style="width: 20vw; display: flex;  flex-direction: column; justify-content: flex-start; margin-right: 30px;">
    <div style = "margin-bottom: 100px;">
      <div style="text-align: center;background: grey; height: 30px; border-radius: 3px; background:#551012;">
        <p><span style="color:orange;">Purchase list</span></p>
      </div>
      <div style="display: flex; flex-direction: column; padding: 10px;">
        <% @orders_buy.each do |buy| %>
          <div style="margin-bottom:5px;">
            <%= link_to buy.beverage.name, dashboard_order_path(buy.id)%>
            <%= buy.status %>
            <%= buy.created_at.strftime("%d/%m/%Y") %>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user.seller %>
    <div style = "display: flex; flex-direction: column; justify-content: center;">
      <div style="text-align: center;background: grey; height: 30px; border-radius: 3px; background:#551012;">
        <p><span style="color:orange;">Sales list</span></p>
      </div>
      <div style="display: flex; flex-direction: column; padding: 10px;">
        <% @orders_sell.each do |sell| %>
          <% sell.each do |item|  %>
            <div style="margin-bottom:5px;">
            <span style="margin-right:10px;"><%= link_to item.beverage.name, dashboard_order_path(item.id), class:"card-sm" %></span>
            <span style="margin-right:10px; font-weight:bold;"><%= item.status%></span>
            <span style="margin-right:10px;"><%= item.created_at.strftime("%d/%m/%Y") %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

  </div>
</div>
